{% extends "base.html" %}
{% load static %}
{% block title %}
  Hello {{ name }}
{% endblock %}

{% block content %}
  {% if error_message %}
    <p>{{ error_message }}</p>
    <a href="{% url 'main:home' %}" class="btn btn-dark">Назад</a>  
  {% endif %} 
  {% if name and message %}  
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/hello.jpg' %}" width="250" height="250" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Hello, {{ name }}!</h5>
        <p class="card-text">{{ message }}</p>
        <a href="{% url 'main:home' %}" class="btn btn-dark">Назад</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
